################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArpRouter/v16/Server/sqlite3
/obj
/.vs/ArpRouter/v16
/bin/Debug/netcoreapp3.0
/ArpRouter.csproj.user
/.vs/ArpRouter/DesignTimeBuild
